@import "bower_components/bootstrap/less/bootstrap.less";
@import "bower_components/font-awesome/less/font-awesome.less";

@font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial;


@font-face {
  font-family: 'FontAwesome';
  src: url('@{fa-font-path}/fontawesome-webfont.eot');
  src: url('@{fa-font-path}/fontawesome-webfont.eot') format('embedded-opentype'),
    url('@{fa-font-path}/fontawesome-webfont.woff2') format('woff2'),
    url('@{fa-font-path}/fontawesome-webfont.woff') format('woff'),
    url('@{fa-font-path}/fontawesome-webfont.ttf') format('truetype'),
    url('@{fa-font-path}/fontawesome-webfont.svg') format('svg');
  // src: url('@{fa-font-path}/FontAwesome.otf') format('opentype'); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}

.hero {
    margin-top: 30px;
    text-align: center;

    @media(min-width: @screen-xs-max) {
        margin-top: 100px;
    }
}

.quotes {
    color: #888888;
    margin: 100px auto;
    text-align: center;
    @media(min-width: @screen-tablet) {
        width: 600px;
    }
    .quote {

    }
    .author {
        padding: 10px;
        font-style: italic;
    }
}

.app-icons {
    padding: 15px;
    a {
        padding: 5px;
        color: #aaa;
    }
}
// @screen-xs-max:              (@screen-sm-min - 1);
// @screen-sm-max:              (@screen-md-min - 1);
// @screen-md-max:              (@screen-lg-min - 1);

// @screen-tablet =
// I want mobile to have red background
// tablet -> blue
// desktop -> yellow
// body {

//     background-color: red;

//     @media(min-width: @screen-xs-max) {
//         background-color: blue;
//     }

//     @media(min-width: @screen-sm-max) {
//         background-color: yellow;
//     }

//     @media(min-width: @screen-md-max) {
//         background-color: green;
//     }
// }
